legacy-peer-deps=true
registry=https://pkgs.dev.azure.com/OperonStudio/_packaging/operon-frontend/npm/registry/ 
                        
always-auth=true

; begin auth token
//pkgs.dev.azure.com/OperonStudio/_packaging/operon-frontend/npm/registry/:username=OperonStudio
//pkgs.dev.azure.com/OperonStudio/_packaging/operon-frontend/npm/registry/:_password=OFdPckJZQUpJblYwNjdEMEhRdjI5MkVNQ3VmeEVsZUdrRENiYmlVbkFvUmdLTzRUMHR0eEpRUUo5OUNHQUNBQUFBQUFBQUFBQUFBU0FaRE80SHl6
//pkgs.dev.azure.com/OperonStudio/_packaging/operon-frontend/npm/registry/:email=npm requires email to be set but doesn't use the value
//pkgs.dev.azure.com/OperonStudio/_packaging/operon-frontend/npm/:username=OperonStudio
//pkgs.dev.azure.com/OperonStudio/_packaging/operon-frontend/npm/:_password=OFdPckJZQUpJblYwNjdEMEhRdjI5MkVNQ3VmeEVsZUdrRENiYmlVbkFvUmdLTzRUMHR0eEpRUUo5OUNHQUNBQUFBQUFBQUFBQUFBU0FaRE80SHl6
//pkgs.dev.azure.com/OperonStudio/_packaging/operon-frontend/npm/:email=npm requires email to be set but doesn't use the value
; end auth token

